<div class="row">
  {% if %w(Blog Techniques).include?(page.navbar) %}
  <hr>
  <h4 id='trainer'>筆者簡介 - 華美拉博士</h4>
  {% else %}
  <h1 id='trainer'>導師簡介 - 華美拉博士</h1>
  {% endif %}
  <img class="img-circle pull-left" style='width: 120px; height: 120px' src="/images/le/denisewah-150x150.png" alt="Denise Wah - NLP Trainer">
  <p><a href='/trainers/denisewah'>華美拉博士</a>為Life Enrich Training and Consulting Centre 創辦人。華博士擁有超過二十年商業管理、市場管理、銷售管理、人事管理、專業培訓、活動教學、心理咨詢等不同範疇的豐厚經驗。除了深厚的理論基礎, 華博士 同時也擁有豐富的實戰經驗，能夠回應學員在課堂內的所有提問，讓來自不同範疇的學員獲益良多。同時,華博士對教學的熱誠及多元化的活動教學模式,亦深受學員的高度讚揚。華博士亦是大學商學院副教授,她在大學的教學評分中，更屢獲佳績，她的教學表現更是極受肯定.</p>
  <br/>
  <p>華美拉畢業於香港中文大學研究院 (The Chinese University of Hong Kong Graduate School) 心理學碩士及香港理工大學 (The Hong Kong Polytechnic University) 工商管理博士。華博士對傳統心理學，近代心理學及各項有關助人的學問及實用技巧均有深入研究。她多年來也不斷遠赴外地，修畢各NLP大師之不同課程,例如NLP創始人Dr. Richard Bandler,美國NLP訓練局（American Board of NLP）,美國NLP 大學（NLP University),美國國際身心語言程式學協會(NFNLP),美國催眠師訓練局（American Board of Hypnotherapy）等,她更不斷進修最新的NLP及各項有關心理學的學問。華博士衷心希望可以將更多、更新的學問傳授給更多人,使更多人受惠。</p>
  <br/>
  <p>華博士希望透過分享，教練，培訓，教育等工作使更多人擁有豐盛的人生!</p><br/>
  <p>願您 活得豐盛，活得精彩!</p>
</div>
