{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% capture asset_url %}{{ site.asset | strip_slash }}{% endcapture %}
{% include template2016/head.html %}
<body {% if page.body_id %} id="{{ page.body_id }}" {% endif %} class="no-trans front-page transparent-header">
  <div class="scrollToTop circle"><i class="icon-up-open-big"></i></div>
  <div class="page-wrapper">
    {% include template2016/header-container.html %}
    <div id="main">
      <div id="content">
	{{ content | expand_urls: root_url }}
      </div>
    </div>
    {% include template2016/footer.html %}
    {% include template2016/after_footer.html %}
    {% include template2016/javascripts.html %}
  </div> <!-- page-wrapper -->
</body>
</html>
