<style>
    .space-top {
        font-size: 18px;
    }
</style>
<div class="pv-30">
    <div class="owl-carousel content-slider-with-large-controls">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="{{ site.asset }}/images/section3-1.png" alt="">
                </div>
                <div class="col-md-6">
                    <p class="space-top">關於 Life Enrich Training & Consulting Center</p>
                    <p class="space-top">
                        Life Enrich 是一所提供 NLP 培訓成長課程，心理諮詢及商業顧問服務的機構。課程包括一系列身心語言程式學 ( Neuro Linguistic Programming或簡稱 NLP )，其中包括身心語言程式學執行師（NLP Practitioner)， 身心語言程式學高級執行師（NLP Master Practitioner)，NLP 發證導師 (NLP Trainer)以及催眠治療師（Hypnotherapist) 等國際專業認證課程。
                    </p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-right">
                    <p class="space-top">什麼是NLP身心語言程式學?</p>
                    <p class="space-top">
                        簡單地說，NLP就是對成功人士的語言及思考模式進行解碼，並有系統地將之歸納成一套可模仿，可學習的成功模式。身心語言程式學（NLP）是一門研究人類快速行為改變的現代心理學，透過探索我們的思想、語言及行為模式，配以巧妙的溝通技巧，策略，模仿，提升我們的人際關係和EQ，加強自信，發揮我們的潛能，達至成功和快樂的人生！ NLP 已被廣泛應用至商業、銷售/客戶服務、教育、培訓、輔導、心理治療及自我提升等範疇，很多知名人士都曾接受過NLP訓練，令他們的人生更精彩！
                    </p>
                </div>
                <div class="col-md-6">
                    <center><img src="{{ site.asset }}/images/section3-2.png" alt=""></center>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="{{ site.asset }}/images/section3-3.png" alt="">
                </div>
                <div class="col-md-6">
                    <p class="title space-top">NLP如何能幫助我？</p>
                    <p class="space-top">
                        身心語言程式學(NLP)實是能夠大大改變我們生活的神奇工具。我可以如數家珍，談論NLP帶給我的幫助及我曾經幫助過的人之正面改變（positive change) 。 事實上，這些改變，你我同樣都可以做到。NLP能讓你與別人輕鬆相處，不論是下屬、上司、伴侶、孩子，或是你的父母，NLP能讓你與別人相處融洽。NLP的威力就是如此巨大。同時,它帶來的改變,太迅速,也太微妙，別人都不易察覺其中的奧妙。他人或許會察覺你的溝通能力加強了，性格開朗了，但是，他們未必明暸箇中原因。
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
