<div class="light-gray-bg pv-30 clearfix">
    <div class="container">
        <div class="row">
            <div class="col-md-4 ">
                <div class="pv-30 ph-20 feature-box bordered shadow text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                    <span class="icon default-bg circle"><img class="icon default-bg circle" src="{{ lang.asset }}images/section-image-1.png"></span>
                    <h3>NLP 證書課程</h3>
                    <div class="separator clearfix"></div>
                    <p>We specialize in NLP training.</p>
                    {% if lang.lang == 'zhtw' %}
                        <a href="/nlp/practitioner/">Read More <i class="pl-5 fa fa-angle-double-right"></i></a>
                    {% else %}
                        <a href="/{{ lang.lang }}/nlp/practitioner/">Read More <i class="pl-5 fa fa-angle-double-right"></i></a>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-4 ">
                <div class="pv-30 ph-20 feature-box bordered shadow text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="150">
                    <span class="icon default-bg circle"><img class="icon default-bg circle" src="{{ lang.asset }}images/section-image-2.png"></span>
                    <h3>專業NLP導師</h3>
                    <div class="separator clearfix"></div>
                    <p>We give the best to our students</p>
                    {% if lang.lang == 'zhtw' %}
                        <a href="/trainers/denisewah/">Read More <i class="pl-5 fa fa-angle-double-right"></i></a>
                    {% else %}
                        <a href="/{{ lang.lang }}/trainers/denisewah/">Read More <i class="pl-5 fa fa-angle-double-right"></i></a>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-4 ">
                <div class="pv-30 ph-20 feature-box bordered shadow text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="200">
                    <span class="icon default-bg circle"><img class="icon default-bg circle" src="{{ lang.asset }}images/section-image-3.png"></span>
                    <h3>NLP 學員分享</h3>
                    <div class="separator clearfix"></div>
                    <p>Come and watch what our NLP practitioners say</p>
                    {% if lang.lang == 'zhtw' %}
                        <a href="/testimonials/">Read More <i class="pl-5 fa fa-angle-double-right"></i></a>
                    {% else %}
                        <a href="/{{ lang.lang }}/testimonials/">Read More <i class="pl-5 fa fa-angle-double-right"></i></a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
