<!-- header-top start -->
<!-- classes:  -->
<!-- "dark": dark version of header top e.g. class="header-top dark" -->
<!-- "colored": colored version of header top e.g. class="header-top colored" -->
<!-- ================ -->
<div class="header-top dark ">
  <div class="container">
    <div class="row">
      <div class="col-xs-3 col-sm-6 col-md-9">
	<!-- header-top-first start -->
	<!-- ================ -->
	<div class="header-top-first clearfix">
	  <ul class="social-links circle small clearfix hidden-xs">
	    <li class="twitter"><a target="_blank" href="http://www.twitter.com"><i class="fa fa-twitter"></i></a></li>
	    <li class="linkedin"><a target="_blank" href="http://www.linkedin.com"><i class="fa fa-linkedin"></i></a></li>
	    <li class="googleplus"><a target="_blank" href="http://plus.google.com"><i class="fa fa-google-plus"></i></a></li>
	    <li class="youtube"><a target="_blank" href="http://www.youtube.com"><i class="fa fa-youtube-play"></i></a></li>
	    <li class="facebook"><a target="_blank" href="http://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
	  </ul>
	  <div class="social-links hidden-lg hidden-md hidden-sm circle small">
	    <div class="btn-group dropdown">
	      <button type="button" class="btn dropdown-toggle" data-toggle="dropdown"><i class="fa fa-share-alt"></i></button>
	      <ul class="dropdown-menu dropdown-animation">
		<li class="twitter"><a target="_blank" href="http://www.twitter.com"><i class="fa fa-twitter"></i></a></li>
		<li class="linkedin"><a target="_blank" href="http://www.linkedin.com"><i class="fa fa-linkedin"></i></a></li>
		<li class="googleplus"><a target="_blank" href="http://plus.google.com"><i class="fa fa-google-plus"></i></a></li>
		<li class="youtube"><a target="_blank" href="http://www.youtube.com"><i class="fa fa-youtube-play"></i></a></li>
		<li class="facebook"><a target="_blank" href="http://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
	      </ul>
	    </div>
	  </div>
	  <ul class="list-inline hidden-sm hidden-xs">
	    <li><i class="fa fa-map-marker pr-5 pl-10"></i>{{ lang.site_address }}</li>
	    <li><i class="fa fa-phone pr-5 pl-10"></i>{{ site.phone }}</li>
	    <li><i class="fa fa-envelope-o pr-5 pl-10"></i> {{ site.email }}</li>
	  </ul>
	</div>
	<!-- header-top-first end -->
      </div>
      <div class="col-xs-9 col-sm-6 col-md-3">

	<!-- header-top-second start -->
	<!-- ================ -->
	<div id="header-top-second"  class="clearfix">

	  <!-- header top dropdowns start -->
	  <!-- ================ -->
	  <div class="header-top-dropdown text-right">
	    <div class="btn-group">
                {% if page.translated %}
                    {% for t in page.translations limit:2 %}
                        <a href="{{ t.url }}" class="btn btn-default btn-sm"><i class="fa fa-user pr-10"></i> {{ t.lang | language_name }}</a>
                    {% endfor %}
                {% elsif post.translated %}
                    {% for t in post.translations limit:2 %}
                        <a href="{{ t.url }}" class="btn btn-default btn-sm"><i class="fa fa-user pr-10"></i> {{ t.lang | language_name }}</a>
                    {% endfor %}
                {% endif %}
	    </div>
	  </div>
	  <!--  header top dropdowns end -->
	</div>
	<!-- header-top-second end -->
      </div>
    </div>
  </div>
</div>
<!-- header-top end -->
